body {
  background-color: #f7f7f7;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

footer p {
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
  font-weight: bold;
}

.btn {
  padding: 15px 40px;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: bold;
}

.btn-lg {
  padding: 20px 25px;
  font-size: 24px;
}

.btn-primary {
  background-color: #16cfd8;
  border: 0;
  color: black;
}

.btn-primary:hover {
  background-color: #119ea6;
  color: black;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #119ea6;
  color: white;
  box-shadow: none;
}

.btn-outline-secondary {
  border: solid 0.2px #3f3f3f;
}

.btn-outline-secondary:hover {
  color: #119ea6;
  background-color: transparent;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  color: #23595c;
  background-color: transparent;
  box-shadow: none;
}

.logo {
  max-width: 250px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splide__slide {
  display: flex;
  align-items: center;
}

.splide img {
  max-height: 500px;
}

.splide__pagination {
  width: auto;
  margin-top: 2rem;
  position: relative;
  left: 25%;
  transform: translateX(-25%);
  min-height: 40px;
}

.splide__pagination__page {
  width: 15px;
  height: 15px;
  border: solid 1px #3f3f3f;
  background-color: transparent;
  margin: 4px;
  transition: all 0.3s ease;
}

.splide__pagination__page.is-active {
  width: 25px;
  height: 25px;
}

.splide__pagination__page.is-active {
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 75%);
  background: -webkit-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 75%);
  background: -o-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 75%);
  background: -ms-linear-gradient(left, #3f3f3f 10%, rgba(255, 255, 255, 0) 75%);
  background: linear-gradient(to right, #3f3f3f 10%, rgba(255, 255, 255, 0) 75%);

  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
}

.splide__pagination__page.is-active:before {
  width: 50%;
  height: 50%;
  background: #3f3f3f;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.splide__pagination__page.is-active:after {
  background: #f7f7f7;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
